.CardItem {
    width: 500px;
    padding: 30px;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.747);
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.ContainerItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 25px;
}

.ItemHeader {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 3rem;
    font-size: 2rem !important;
}

.Info {
    font-family: "Montserrat";
    font-size: 1.2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.926);
}

.ItemImg {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    object-position: center;
}
.Optioncheck {
    text-decoration: none;
    margin: auto;
    padding: 5px;
    font-size: 1.5rem !important;
    background: #2b8600cb !important;
    border-radius: 8px;
    display: flex;
    align-self: center;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
    cursor: pointer;
    margin-top: 2%;

}
