
.cajaformulario {
    width: 50%;
    height: 50%;
    border: solid 2px black;
    border-radius: 5%;
    background-color: #8d8d2f;
    margin: auto;
    margin-top: 10%; 
}

.formulario {
    display: block;
    justify-content: center;
    margin: auto; 
    margin-bottom: 10%;
}
.box {
    padding: 2%;
    margin: auto;
}

input {
    width: 70%;
}
.enviar {
    width: 30%;
    margin: auto;
    transition: all .5s ease-in-out;
}
.enviar:hover {
    background-color: #34a300;
    border-radius: 15px 2px;
    cursor: pointer;
    height: 4vh;
    width: 8vw;
}  